{
  "SolutionName": "CricketStatisticsDatabase",
  "ExecutablePublishProjects": [
    {
      "FolderName": "CricketStatisticsDatabase",
      "ProjectName": "CricketStatisticsDatabase"
    }
  ],
  "NugetPackageProjects": [],
  "SolutionFileName": "CricketStatisticsDatabase.sln",
  "DefaultBuildConfiguration": "Release",
  "DefaultFramework": "net6.0-windows",
  "DefaultRuntime": "win-x64",
  "DefaultPublishDir": "../Publish"
}